header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    color: white;
    font-size: calc(1.5vh + 1.5vw);
    text-align: center;
    background-color: #444;
    padding: 3.2vh;
    font-family: "Barlow", sans-serif;
    margin: auto;
}
body {
  color: white;
  font-size: 12px;
  text-align: center;
  background-color: #555;
  padding: 1vh;
  font-family: "Barlow", sans-serif;
}

h3 {
  color: white;
  font-size: 22px;
  text-align: center;
  background-color: #555;
  padding: 1vh;
  font-family: "Barlow", sans-serif;
}

/* LEADERBOARD */
.leaderboard{
  position: fixed;
  --num:calc(1.5vh + 1.5vw);
  top: calc(var(--num) + 8.7vh);
  left: 0;
  width: 15%;
  height: 50%;
  color: white;
  background-color: #666;
  font-size: calc(1.1vh + 1.1vw);
  text-align: center;
  font-family: "Barlow", sans-serif;
}
.players{
  flex-wrap: wrap;
  position:fixed;
  top: 15vh;
  left: 0.5vh;
}
ol{
  position: absolute;
  top:2vh; 
  left: 1.3vw;
  width: 12.5vw;
  padding: 10% 0 10% 5%;
  color: white;
  font-size: calc(0.8vh + 0.8vw);
  text-align: left;
  font-family: "Barlow", sans-serif;
}

/* BUTTONS */
.button {
  border-style: solid;
  border-width: 1px;
  color: white;
  padding: 2vh 1.5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(0.7vh + 0.7vw);
  margin: 4px 2px;
  cursor: pointer;
  background-color: #333;
}

/* CHAT AREA */
.chatarea{
  position: fixed;
  --num:calc(1.5vh + 1.5vw);
  top: calc(var(--num) + 8.7vh);
  right: 0;
  width: 20%;
  height: 70%;
  color: white;
  background-color: #666;
  font-size: calc(1.1vh + 1.1vw);
  text-align: center;
  font-family: "Barlow", sans-serif;
}

.chatbox {
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  align-items: center;
  top: 80%;
  right: 0;
  width: 20%;
  height: 10%;
  background-color: #333;
  
}
.chatbox > textarea{
  position: relative;
  resize: none;
  left: 1.3%;
  width: 69%;
  height: 69%;
  padding: 1vh;
  font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color:aliceblue;
  font-style: italic;
  text-align: left;
  border: 0;
  background:#555;
}

.chatbox button{
  position: relative;
  border-style: solid;
  border-width: 1px;
  color: white;
  top: 20%;
  left: 3%;
  width: 72px;
  height: 50%;
  text-align: center;
  padding: 1vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(0.7vh + 0.7vw);
  margin: 4px 2px;
  cursor: pointer;
  background-color: #333;
}

/* MAIN DISPLAY */
.main {
  width: 600px;
  height: 600px;
  margin: auto;
  vertical-align: middle;
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
}

/* COUNTDOWN TIMER*/
.base-timer {
  position: relative;
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.animate {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transition: 1s linear all;
  transform-origin: center;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}

/* GUESSING FORM*/
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;

}
.form input {
  vertical-align: middle;
  width: 45%;
  height: 20px;
  padding: 10px 5px;
  float: left;
  font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
  font-style: italic;
  border: 0;
  background: #EEE;
  border-radius: 3px 0 0 3px;
}
.form input:focus {
  outline: 0;
  background: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
.form label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}
.form button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 72px;
  font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: white;
  text-transform: uppercase;
  background: #D83C3C;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}
.form button:before {
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #d83c3c transparent;
  top: 12px;
  left: -6px;
}

.message h3{
  background-color: transparent;
}

.hidden {
  visibility: hidden;
}

#recentsong p{
  display: inline-block;
}

#canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


